@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap');

:root{
    --heading:rgba(86, 43, 8, 1);
    --subtitle:rgba(255, 143, 1, 1);
    --parah:rgba(45, 52, 54, 1);
}
body{
    font-family: 'Roboto',sans-serif;
}
.packages{
    background-color: var(--heading);
}
.herosection{
    background-image: url(/public/images/yogabg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}
.herosection h2{
    color:white;
    font-size:2.625rem;
}
.historysection h3{
    color:var(--heading);

}
.historysection h3:after{
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 10%; 
    padding-top: 20px; 
    border-bottom: 1px solid var(--subtitle);
    border-width:thick;
}
.historysection p{
    font-size:1rem;
    text-align:justify;
}
.packagesection .card{
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border:none;
}
.packagesection .card-img{
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border:none;
}
.packagesection .card-img-overlay{
    display:flex;
    align-items:center;
    justify-content:center;
    transition:background-color 0.5s;
}
.packagesection .card:hover:hover .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.39);
}
.packagesection h3{
    color:var(--heading);

}
.packagesection h3:after{
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 10%; 
    padding-top: 20px; 
    border-bottom: 1px solid var(--subtitle);
    border-width:thick;
}